{% extends "base.html" %}
{% load story_extras %}
{% load url from future %}

{% block head %}
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/vote.js"></script>
{% endblock head %}
{% block content %}
<ol>
{% for story in stories %}
    <li>
        <p class="story-title">
            {% if user.is_authenticated and story not in liked_stories %}
                <a href="{% url 'vote' %}" id="story-vote-{{ story.id }}" class="vote"><img src="{{ STATIC_URL }}images/arrow.gif"></a>
                <a href="{{ story.url }}" id="story-title-{{ story.id }}">{{ story.title }}</a> <span class="domain">({{ story.domain }})</span>
            {% else %}
                <a href="{{ story.url }}" style="margin-left: 15px;">{{ story.title }}</a> <span class="domain">({{ story.domain }})</span>
            {% endif %}
        </p>
        <p class='story-info'>
            {{ story.points }} points by {{ story.moderator.username }} {{ story.created_at|age }} |
            <a href="{{story.get_absolute_url}}">
                {% if story.comments.count > 1 %}
                    {{ story.comments.count }} comments
                {% elif story.comments.count > 0 %}
                    {{ story.comments.count }} comment
                {% else %}
                    discuss
                {% endif %}
            </a>
        </p>
    </li>
{% endfor %}
</ol>
{% endblock content %}
