{% extends "base.html" %}
{% load story_extras %}

{% block head %}
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/vote.js"></script>
{% endblock head %}
{% block content %}
<ol>
{% for story in stories %}
    <li>
        <p class="story-title">
            <a href="/vote/" id="story-vote-{{ story.id }}" class="vote"><img src="{{ STATIC_URL }}images/arrow.gif"></a>
            <a href="{{ story.url }}" id="story-title-{{ story.id }}">{{ story.title }}</a> <span class="domain">({{ story.domain }})</span>
        </p>
        <p class='story-info'>
            {{ story.points }} points by {{ story.moderator.username }} {{ story.created_at|age }}
        </p>
    </li>
{% endfor %}
</ol>
{% endblock content %}
